<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>LiveMag! | Home</title>
    <meta name="description" content="{{ site.description }}"">
    <meta name=" viewport" content="width=device-width, initial-scale=1">
    <link href='apple-touch-icon-144x144.png' rel='apple-touch-icon' sizes='144x144'>
    <link href='apple-touch-icon-72x72.png' rel='apple-touch-icon' sizes='72x72'>
    <link href='apple-touch-icon.png' rel='apple-touch-icon'>
    <link href='favicon.ico' rel='icon' type='image/ico'>
    <meta property="og:url" content="https://livemag.org" />
    <meta property="og:title" content="LiveMag15! | home" />
    <meta property="og:description" content="Art by Julie Heffernan on the home page of LiVE MAG!" />
    <meta property="og:image" content="http://livemag.org/images/no15/heffernan.jpg" />
    <!-- <meta property="og:image:width" content="">
    <meta property="og:image:height" content=""> -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@LiveMagNYC">
    <meta name="twitter:title" content="LiveMag! | Home">
    <meta name="twitter:description" content="Art by Julie Heffernan on the LiVE MAG! home page.">
    <meta name="twitter:image" content="http://livemag.org/images/no15/heffernan.jpg">
    <meta name="robots" content="index, follow">
    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://use.typekit.net/psl2mid.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <style>
        @media(min-width:1048px) {
            .home-aside h2 {
                margin-left: 1.48em;
            }
            .home-aside ul {
                margin-left: 2em;
            }
        }
    </style>
</head>