<!DOCTYPE html>
<html class="no-js" lang="EN">

{% include head.html %}

<body>
    <div class="container-home">
        {% include header.html %}
        <div class="home-content-wrap">
            <aside class=home-aside>
                <nav id="drawer" class="side-nav" aria-expanded="true">
                    <h2 class="site-nav"><a href="issue_15/">#15</a></h2>
                    <ul class="site-nav" role="menu" aria-labelledby="class">
                        <li><a href="about.html">About</a></li>
                        <li><a href="http://reviews.livemag.org">Reviews</a></li>
                        <li><a href="issues.html">Issues</a></li>
                        <li><a href="videos.html">Videos</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="subscribe.html">Subscribe!</a></li>
                    </ul>
                </nav>
            </aside>
            <section class="main home-main">
                <header>
                    <h3><a href="issue_15/">Current Issue</a></h3>
                </header>

                <blockquote cite="issue_15/andre-codrescu/"><p class="poem">
                    I like my verse clean and the sonnet a little dirty<br>
                    like the beloved to whom it is usually dedicated.</p>
                    <cite>From "The Twelve-line Sonnet Needs You" by Andre Codrescu</cite>
                </blockquote>

                <blockquote cite="issue_15/elaine-equi/">
                    <p class="poem">Good grief! Pet sorrow!<br>
                    Choked up mountains. Hiccuppping hills.<br>
                    Zoo of bygone instincts.<br>
                    Lovers always leaping from the windows of their eyes.</p>
                    <cite>From "Laminated Lament" by Elaine Equi</cite>
                </blockquote>

                <div class="gallery">
                    <figure>
                    <a href="issue_15/julie-heffernan/">
                        <img src="images/no15/home-thumbs/heffernant.jpg" alt="painting detail"></a>
                    </figure>
                    <figure>
                        <a href="issue_15/eung-ho-park/">
                            <img src="images/no15/home-thumbs/parkt.jpg" alt="detail sculpture"></a>
                    </figure>
                    <figure>
                        <a href="issue_15/nikki-johnson/">
                            <img src="images/no15/home-thumbs/johnsont.jpg" alt="detail photo"></a>
                    </figure>
                    <figure>
                        <a href="issue_15/paul-laster/">
                            <img src="images/no15/home-thumbs/lastert.jpg" alt="detil collage"></a>
                    </figure>
                    <cite>clockwise from upper-left:Julie Heffernan, Eung Ho Park, Paul Laster, Nikki Johnson</cite>
                </div>
            </section><!-- end main -->  
            <aside class="social">
                <p>
                    <a class="twitter-timeline" href="https://twitter.com/LiveMagNYC?ref_src=twsrc%5Etfw"
                        data-tweet-limit="3">Tweets by LiveMagNYC</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </p>
            </aside>
            
        </div><!-- end content-wrap -->
        <footer class="site-footer">
            <div class="footer-nav" aria-labelledby="class">
                <header>
                    <h3><a href="issue_15/">LiVE MAG! 15</a></h3>
                    <div class="social">
                        <a href="https://twitter.com/LiveMagNYC/">
                            <img src="images/twitter.svg" alt="twitter icon"></a>
                        <a href="https://www.facebook.com/livemag.org/"><img src="images/facebook.svg"
                                alt="facebook icon"></a>
                    </div>
                    <div class="subscribe"><a href="support/">Join today!</a></div>
                </header>
                <nav>
                    <ul class="home-footer-nav">
                        <li><a href="about.html">About</a></li>
                        <li><a href="http://reviews.livemag.org">Reviews</a></li>
                        <li><a href="issues.html">Issues</a></li>
                        <li><a href="videos.html">Videos</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div><!-- end footer-nav -->
            <div class="copy">
                <h5>&copy; 2019 LiVE Mag! contributors. All rights reserved. Editor: Jeffrey Cyphers Wright</h5>
            </div>
        </footer>

    </div><!-- end container -->
    <script>
        /* Open the drawer when the menu ison is clicked.*/
        var menu = document.querySelector('#menu');
        var main = document.querySelector('.home-content-wrap');
        var drawer = document.querySelector('.side-nav');

        menu.addEventListener('click', function (e) {
            drawer.classList.toggle('open');
            e.stopPropagation();
        });
        main.addEventListener('click', function () {
            drawer.classList.remove('open');
        });
    </script>
    <script>
        (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-49721284-2'); ga('send', 'pageview');
    </script>
</body>

</html>